.container-main {

    display: flex;
    height: 100vh;

}


img {

    width: 1985px;
    height: 938px;

    position: absolute;
    z-index: -1;

}

.adver-text {

    display: flex;
    margin-top: 350px;
    margin-left: 230px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffff;

}

.adver-text span {
    color: #7978D9;

}

.login-form {

    display: flex;
    justify-content: center;

    width: 700px;
    height: 640px;

    margin-left: 150px;
    margin-top: 110px;

    background-color: #ffff;
    border-radius: 20px;
}

.login-form h1 {

    color: #7978D9;
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-top: 60px;

}